EXPO_PUBLIC_API_BASE_URL=http://localhost:8000
# Android/iOS OAuth client ID, also used as the webClientId to mint the ID token.
EXPO_PUBLIC_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com
# iOS OAuth client ID. Optional on Android; required to build/sign in on iOS.
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=YOUR_GOOGLE_IOS_CLIENT_ID.apps.googleusercontent.com
EXPO_PUBLIC_WEB_CALLBACK_URL=http://localhost:3000/payment/callback
